.sidebar{
    main-hight: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sidebar .img{
    width: 20px;

}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color:yellowgreen;
    border-radius: 50px;
    font-size: 14px;
    color: green;
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;

}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;

}

.sidebar .recent-entry{
    display: flex;
    aligin-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: black;
    cursor: pointer;
}

sidebar .recent-entr:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}